@import "tailwindcss";

#root {
  overflow: clip;
}

:root {
  --brand-blue: #083970;

  --text-title: 16px;

  --text-content: 13px;

  --text-button: 12px;

  --text-small: 11px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Be Vietnam Pro", sans-serif;
  }
}

